
cactusBSSN_r_base.mytest-m64
compare.cmd
compare.err
compare.out
compare.stdout
control
gxx.xl
gxx.xl.cmp
gxy.xl
gxy.xl.cmp
speccmds.cmd
speccmds.err
speccmds.out
speccmds.stdout
spec_ref.err
spec_ref.out
spec_ref.out.cmp
spec_ref.par
OLD
