
compare.cmd
compare.err
compare.out
compare.stdout
fotonik3d_s_base.mytest-m64
fotonik3d_s.err
fotonik3d_s.log
incident_W3PC_25nm.def
inputgen.cmd
inputgen.out
OBJ.dat
OBJ.dat.gen.err
OBJ.dat.xz
power1.dat
power2.dat
pscyee.out
pscyee.out.cmp
PSI.dat
speccmds.cmd
speccmds.err
speccmds.out
speccmds.stdout
TEwaveguide.m
trans_W3PC_25nm.def
yee.dat
OLD
