
bwaves_1.err
bwaves_1.in
bwaves_1.out
bwaves_2.err
bwaves_2.in
bwaves_2.out
bwaves_3.in
bwaves_4.in
bwaves_r_base.mytest-m64
control
refrate1_dqnrm.log
refrate1_resid.log
refrate2_dqnrm.log
refrate2_resid.log
speccmds.cmd
speccmds.err
speccmds.out
speccmds.stdout
OLD
