
arrays.inc
chars.inc
colors.inc
compare.cmd
compare.err
compare.out
compare.stdout
consts.inc
crystal.ttf
cyrvetic.ttf
debug.inc
finish.inc
functions.inc
glass.inc
glass_old.inc
golds.inc
imagevalidate_511_base.mytest-m64
imagevalidate_SPEC-benchmark.tga.err
imagevalidate_SPEC-benchmark.tga.out
imagevalidate_SPEC-benchmark.tga.out.cmp
logo.inc
math.inc
metals.inc
povlogo.ttf
povray_r_base.mytest-m64
rad_def.inc
rand.inc
screen.inc
shapes2.inc
shapes.inc
shapes_old.inc
shapesq.inc
skies.inc
SPEC-benchmark.log
SPEC-benchmark-ref.ini
SPEC-benchmark-ref.pov
SPEC-benchmark-ref.stderr
SPEC-benchmark-ref.stdout
SPEC-benchmark.tga
speccmds.cmd
speccmds.err
speccmds.out
speccmds.stdout
stage1.inc
stars.inc
stdcam.inc
stdinc.inc
stoneold.inc
stones1.inc
stones2.inc
stones.inc
strings.inc
sunpos.inc
textures.inc
timrom.ttf
transforms.inc
woodmaps.inc
woods.inc
OLD
